# SPDX-FileCopyrightText: 2020 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

Pier Luigi Fiorini <pierluigi.fiorini@liri.io> <plfiorini@users.noreply.github.com>
Pier Luigi Fiorini <pierluigi.fiorini@liri.io> <pierluigi.fiorini@hawaiios.org>
Pier Luigi Fiorini <pierluigi.fiorini@liri.io> <pierluigi.fiorini@gmail.com>
