[Desktop Entry]
Name=Software
Comment=App Store for Papyros
Exec=papyros-software
Icon=software-store
Terminal=False
Type=Application
Categories=Papyros;Apps
