[Desktop Entry]
Name=Software
Comment=App Store for Papyros
Exec=papyros-appstore
Icon=software-store
Terminal=False
Type=Application
Categories=Papyros;Apps
OnlyShowIn=Papyros
