# SPDX-FileCopyrightText: 2020 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=App Center
Name[da]=Programcenter
Name[es_MX]=Centro de aplicaciones
Name[lt]=Programų centras
Name[pt_BR]=Central de aplicativos
Name[ru]=App Center
Name[tr]=Uygulama Merkezi
Exec=@LIBEXECDIR@/liri-appcenter-notifier
Icon=system-software-update
Terminal=false
Type=Application
Categories=X-Liri;Qt;System;PackageManager;
OnlyShowIn=X-Liri
