# SPDX-FileCopyrightText: 2020 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=App Center
Name[ar]=مركز التطبيقات
Name[da]=Programcenter
Name[es_MX]=Centro de aplicaciones
Name[fr]=Centre d'applications
Name[id]=Pusat Aplikasi
Name[it_IT]=Centro App
Name[ja]=App Center
Name[ko]=앱 센터
Name[lt]=Programų centras
Name[nl]=Softwarecentrum
Name[pl]=Centrum Aplikacji
Name[pt_BR]=Central de aplicativos
Name[ru]=Центр приложений
Name[tr]=Uygulama Merkezi
Name[zh_CN]=应用中心
Name[zh_TW]=應用程式中心
Comment=App Center for Liri
Comment[ar]=مركز تطبيقات ليري
Comment[da]=Programcenter til Liri
Comment[es_MX]=Centro de aplicaciones para Liri
Comment[fr]=Centre d'applications pour Liri
Comment[id]=Pusat Aplikasi untuk Liri
Comment[it_IT]=Centro applicazioni per Liri
Comment[ja]=App Center for Liri
Comment[ko]=Liri 앱 센터
Comment[lt]=Liri programų centras
Comment[nl]=Softwarecentrum voor Liri
Comment[pl]=Centrum Aplikacji dla Liri
Comment[pt_BR]=Central de aplicativos para o Liri
Comment[ru]=Центр приложений для Liri
Comment[tr]=Liri için Uygulama Merkezi
Comment[zh_CN]=Liri应用中心
Comment[zh_TW]=Liri應用程式中心
Exec=liri-appcenter
Icon=software-store
Terminal=false
Type=Application
Categories=X-Liri;Qt;System;PackageManager;
