[Desktop Entry]
Name=App Center
Comment=App Center for Liri
Exec=liri-appcenter
Icon=software-store
Terminal=false
Type=Application
Categories=X-Liri;Qt;System;PackageManager;
