[Desktop Entry]
Name=App Center
Comment=App Center for Papyros
Exec=papyros-appcenter
Icon=software-store
Terminal=False
Type=Application
Categories=Papyros;Apps
