[Desktop Entry]
Name=App Center
Comment=App Center for Liri
Exec=liri-appcenter
Icon=software-store
Terminal=false
Type=Application
Categories=X-Liri;Qt;System;PackageManager;


# Translations
Icon[zh_TW]=軟體商店
Name[zh_TW]=應用程式中心
Comment[zh_TW]=Liri應用程式中心
