[Desktop Entry]
Name=App Center
Comment=App Center for Liri
Exec=liri-appcenter
Icon=software-store
Terminal=false
Type=Application
Categories=X-Liri;Qt;System;PackageManager;


# Translations
Icon[ja]=ソフトウェアストア
Name[ja]=App Center
Comment[ja]=App Center for Liri
